#sign_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    display: block;
}

#ultra_container, body, .see_data_div {
    transition: color 0.5s;
}

#ultra_container {
    background-color: rgb(106, 239, 124);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    z-index: 1;
}

#account_div {
    display: block;
}

#signin_div, #signup_div, #see_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#see_3_connected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    position: fixed;
    left: 5px;
    bottom: 10px;
    width: 350px;
    transition: transform 0.5s ease-in-out;
}

#see_3_connected:hover {
    transform: scale(1.03);
}

#see_3_connected p {
    margin-left: 10px;
}

button:disabled {
    display: none;
}

.see_data_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    margin-top: 370px;
}

.see_data_div_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
}

#see_data_div_id h2 {
    position: fixed;
    z-index: 2;
    top: 380px;
}

#see_data_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: fit-content;
}

.session_div, .lesson_div {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    transition: transform 0.5s ease-in-out, border 0.5s;
}

.session_div:hover, .lesson_div:hover {
    transform: scale(1.02);
}

.titles {
    text-decoration: underline;
    flex: none;
    white-space: nowrap;
    margin-right: 5px;
}


#back_to_homepage {
    position: fixed;
    bottom: 70px;
    right: 8px;
    font-size: 25px;
    transition: color 0.5s, transform 0.5s ease-in;
}

#back_to_homepage:hover {
    transform: scale(1.03);
}

#back_to_homepage img {
    width: 55px;
}


#connection {
    display: none;
}


#account_small {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -15px;
    right: 0px;
    transition: transform 0.5s ease-in, border 0.5s;
    border-top: none;
    border-right: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

#account_small:hover {
    transform: scale(1.03);
}

#mail_address {
    font-size: 22px;
}

#note_sign_up {
    margin-bottom: 5px;
}

#signup_message {
    margin-bottom: -5px;
}

#changing_div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    height: 250px;
    margin-top: 100px;
    position: fixed;
    top: -30px;
    left: 150px;
    right: 150px;
    z-index: 2;
}

#import_data_div, #add_data_div, #create_session_div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    transition: transform 0.5s ease-in-out;
    width: 350px;
}

#import_data_div:hover, #add_data_div:hover {
    transform: scale(1.03);
}


#special_h1 {
    font-size: 30px;
    width: fit-content;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0); 
    z-index: 2;
}

.session_div h3 {
    display: inline;
}

.session_div h3 button {
    display: inline;
}

.delete_session, .delete_lesson {
    position: absolute;
    top: 1px;
    right: 1px;
}

.delete_lesson {
    font-size: 18px;
}

ul {
    list-style-type: none; 
    padding-left: 30px;
    margin: 0;
}

li {
    display: flex;
    align-items: flex-start;
    max-width: 900px;
    text-align: left;
    flex-direction: row;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out, color 0.5s;
}

li:hover {
    transform: scale(1.03);
}

.delete_def {
    font-size: 15px;
    align-self: flex-start;
    margin-top: -2px;
}