body {
    --background-color: rgb(106, 239, 124);
    --text-color: black;
}


#sign_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    display: block;
}

#ultra_container, body, .see_data_div {
    transition: color 0.5s;
}

#ultra_container {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    z-index: 1;
}

.verbs-grid {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.verbs-grid .header, .verbs-grid .row {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(5, minmax(65px, 1fr)) 0.15fr;
}   

.verbs-grid input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
}

.verbs-grid .header input {
    background-color:rgb(188, 188, 188);
}

@media screen and (max-width: 500px) {

    .verbs-grid .row input, .verbs-grid .header input {
        height: 15px;
        font-size: 11px;
    }

    .verbs-grid .header, .verbs-grid .row {
        gap: 0px;
        height: 26px;
    }

    .verbs-grid button {
        font-size: 16px;
    }
}

#no_button {
    width: 28px;
}



#account_div {
    display: block;
}

#signin_div, #signup_div, #see_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

@media screen and (width <= 1710px) {
    #signin_div {
        margin-top: 50px;
        margin-bottom: -20px;
    }

    #signin_div button {
        margin-bottom: 30px;
    }

    #signup_div {
        margin-top: 0;
    }
}

#see_3_connected {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    position: fixed;
    left: 5px;
    bottom: 0px;
    width: 350px;
    padding-right: 5px;
    transition: opacity 0.3s;
    border-radius: 0 10px 0 0;
}


#see_3_connected p {
    margin-left: 10px;
}

button:disabled {
    display: none;
}

.see_data_div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    padding-left: 400px;
    padding-right: 65px;
    padding-bottom: 20px;
    margin-top: 370px;
    overflow-x: auto;
    gap: 10px
}

.see_data_div_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
}

#see_data_container #ok_h2 {
    position: fixed;
    z-index: 2;
    top: 380px;
    text-decoration: underline;
}

#see_data_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: fit-content;
}

.session_div, .lesson_div {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
    transition: box-shadow 0.5s ease-in-out, 0.5s ease-in-out, border 0.5s;
}

.session_div:hover, .lesson_div:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transform: translateY(-4px);
}

.lesson_div {
    max-width: 98%;
}

.session_div {
    flex-shrink: 0;
}

.titles {
    text-decoration: underline;
    flex: none;
    white-space: nowrap;
    margin-right: 5px;
}


#back_to_homepage {
    position: fixed;
    bottom: 70px;
    right: 8px;
    font-size: 25px;
    transition: color 0.5s, transform 0.5s ease-in;
    z-index: 111;
}

#back_to_homepage:hover {
    transform: scale(1.03);
}

#back_to_homepage img {
    width: 53px;
}

@media screen and (width <= 450px) {
    #back_to_homepage {
        bottom: 55px;
        right: 4px;
        z-index: 80;
    }

    #back_to_homepage img {
        width: 43px;
    }
}

#connection {
    display: none;
}


#account_small {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -15px;
    right: 0px;
    transition: opacity 0.3s, transform 0.5s ease-in, border 0.5s;
    border-top: none;
    border-right: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 10px;
    z-index: 113;
}

#account_small:hover {
    transform: scale(1.03);
}

@media screen and (width <= 1500px) {
    #see_3_connected, #account_small {
        display: none;
        box-shadow: black 5px 5px 20px;
    }
}

#mail_address {
    font-size: 22px;
}

#note_sign_up {
    margin-bottom: 5px;
}

#signup_message {
    margin-bottom: -5px;
}

#changing_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 100px;
    position: fixed;
    top: -30px;
    left: 150px;
    right: 150px;
    z-index: 2;
}

@media screen and (width <= 900px) {
    #changing_div {
        left: 50px;
        right: 50px
    }
}

#changing_div h2, #changing_div p {
    text-align: center;
}

#changing_div h2 {
    text-decoration: underline;
}

#import_data_div, #add_data_div, #create_session_div {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    transition: transform 0.5s ease-in-out;
    width: 350px;
}

#import_data_div:hover, #add_data_div:hover {
    transform: scale(1.03);
}

#add_data_div {
    margin-left: 20px;
    margin-right: 20px;
}

#danger_import, #danger_export {
    max-width: 300px;
}
#danger_import {
    padding-left: 10px;
}


#choosing_stuff {
    display: none;
}

#special_h1 {
    font-size: 30px;
    width: fit-content;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0); 
    z-index: 500;
}

@media screen and (width <= 1150px) {
    #choosing_stuff {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 80;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        margin-bottom: 0;
    }

    #choosing_create {
        text-decoration: underline;
    }

    #import_data_div, #add_data_div {
        display: none;
    }

    #special_h1 {
        display: none;
    }

    #add_data_p, #import_data_p {
        margin: 0;
        margin-top: -10px;
    } 

    #see_data_container h2 {
        top: 370px;
    }

    .beetween {
        display: none;
    }
}


.session_div h3 {
    display: inline;
}

.session_div h3 button {
    display: inline;
}

.delete_session, .delete_lesson {
    position: absolute;
    top: 1px;
    right: 1px;
}

.delete_lesson {
    font-size: 18px;
}

ul {
    list-style-type: none; 
    padding-left: 30px;
    margin: 0;
}

li {
    display: flex;
    align-items: flex-start;
    max-width: 900px;
    text-align: left;
    flex-direction: row;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out, color 0.5s;
}

#mobile_up, #mobile_down, #account_small, #see_3_connected {
    background-color: var(--background-color);
}

#see_account_small, #close_account_small, #import_3_button, #close_import {
    display: none;
}

#mobile_down {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 70;
    height: 130px;
    width: 65px;
    border-top-left-radius: 8px;
}


.delete_lesson:hover {
    top: -3px;
    transform: none;
}

.delete_lesson {
    transition: none;
}

.delete_col {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
}

.delete_col:hover {
    transform: none;
    margin-top: 0px;
}

.delete_row {
    transition: none;
}

.delete_row:hover {
    transform: none;
}

.delete_def {
    transition: none;
}

.delete_def:hover {
    transform: none;
}

.delete_session {
    transition: none;
}

.delete_session:hover {
    top: -3px;
}

.file_big_image {
    width: 20px;
    height: 20px;
    background-image: url("poubelle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.file_small_image {
    width: 16px;
    height: 16px;
    background-image: url("poubelle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.delete_col:hover div {
    height: 25px;
    width: 22px;
    margin-right: 2px;
    background-image: url("poubelle ouverte.png");
}

.delete_row:hover div {
    height: 20px;
    width: 18px;
    margin-right: 5px;
    background-image: url("poubelle ouverte.png");
}

.delete_def:hover div {
    height: 20px;
    width: 18px;
    margin-top: -4px;
    margin-left: -1px;
    background-image: url("poubelle ouverte.png");
}

.delete_lesson:hover div {
    height: 25px;
    width: 22px;
    margin-top: -1px;
    background-image: url("poubelle ouverte.png");
}

.delete_session:hover div {
    height: 24px;
    width: 21px;
    background-image: url("poubelle ouverte.png");
}



@media screen and (width <= 750px) {
    li {
        font-size: 17px;
        flex-direction: column;  
    }

    .delete_def {
        position: absolute;
        right: 0;
    }
}

@media screen and (width <= 1710px) {
    #close_account_small {
        display: block;
    }

    #mobile_up {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 70;
    }
    
    #see_account_small {
        display: block;
        position: fixed;
        top: 0px;
        right: -4px;
        z-index: 111;
    }
    
    #account_small, #see_3_connected {
        display: none;
        top: 50%;
        left: 50%;
        border: solid 1px var(--text-color);
        transform: translate(-50%, -50%);
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
    }
    
    #account_small:hover, #see_3_connected:hover {
        transform: translate(-50%, -50%);
    }
    
    #import_3_button {
        display: block;
        position: fixed;
        top: 52px;
        right: -4px;
        z-index: 111;
    }
    
    #see_account_small img, #import_3_button img {
        width: 43px;
    }
    
    #close_account_small, #close_import {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #see_3_connected {
        text-align: center;
        border: 1px solid var(--text-color);
        border-radius: 10px;
        z-index: 114;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    
    #see_3_connected p {
        width: 300px;
    } 

    .see_data_div {
        padding-left: 10px;
    }
}

@media screen and (width <= 450px) {
    #mobile_down {
        height: 110px;
        width: 50px;
    }
}

li:hover {
    transform: scale(1.03);
}

.delete_def {
    font-size: 15px;
    align-self: flex-start;
    margin-top: -2px;
}

#delete_account {
    width: 240px;
}



.trumbowyg-button-pane {
    display: none;
}

.trumbowyg-box {
    border-radius: 0 0 10px 10px;
}


/*!FIXED*/

@media screen and (width <= 900px) {
    #changing_div, #see_data_div_id {
        position: relative;
    }

    #see_data_div_id, #see_data_container {
        margin-top: 0;
    }

    #ultra_container {
        display: none;
    }
    
    #changing_div {
        height: fit-content;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    #see_data_container h2 {
        position: relative;
        top: 0px;
    }
}