
p, h4, h3, h2, h1, input, ul, select, span, label {
    transition: color 0.5s, transform 0.5s ease-in;
}

body {
    transition: background-color 0.5s;
}

input, button {
    display: block;
    margin: 5px;
}

textarea, input {
    transition: background-color 0.6s ease-in-out;
}

textarea:hover, input:hover {
    background-color: #dddddd;
}

body {
    background-color: rgb(200, 255, 229);
    text-align: center;
}


button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
}


input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    width: 200px;
}

h2 {
    margin: 7px;
}

p {
    font-size: 20px;
}

#giga_msg {
    position: fixed;
    top: 385px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: opacity 0.3s;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    z-index: 20000;
}


select {
    background-color: transparent;
    border: transparent;
    transition: 0.35s;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

select:hover {
    transform: scale(1.05);
}


option {
    font-size: 16px;
}

#parameter {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 114;
}

#parameter_div {
    display: none;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(200, 255, 229);
    text-align: center;
    transition: opacity 0.3s, background-color 0.5s, border 0.5s;
    z-index: 113;
}

#parameter_cover {
    position: fixed;
    z-index: 112;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

#parameter_div h2 {
    margin-top: 0px;
}


#parameter_div h2:hover {
    transform: scale(1.05);
}

#parameter_div p {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -5px;
}

#parameter_div p:hover {
    transform: scale(1.03);
}

#parameter_div input {
    display: inline;
    margin: 5px;
    background-color: transparent;
    border: solid black 1px;
    border-radius: 5px;
}

#parameter_div button {
    font-family: "Times roman";
    margin: 5px;
    margin-left: 9px;
}

#parameter_sound {
    margin-left: 5px;
    display: flex;
}


#for_toggle_sound {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
}

#inline {
    position: fixed;
    top: 5px;
    left: 8px;
    z-index: 400;
    transition: transform 0.5s ease-in-out;
    text-align: left;
}

#inline:hover {
    transform: scale(1.03);
}