body {
    --background-color: rgb(41, 255, 185);
    --text-color: black;
    color: var(--text-color);
    margin: 0;
}

html {
    overflow-x: hidden !important;
}


p, h4, h3, h2, h1, input, ul, select, span, label {
    transition: color 0.5s, transform 0.5s ease-in;
}

input, button {
    display: block;
    margin: 5px;
}

input[type="select"] {
    text-align: center;
}

button {
    color: var(--text-color);
}

textarea, input {
    transition: background-color 0.6s ease-in-out;
}

textarea:hover, input:hover {
    background-color: #dddddd;
}

select {
    text-align: center;
}

body {
    background-color: var(--background-color);
}

.flex {
    display: flex;
}


.beetween { 
    width: 2px; height: 150px; 
    background-color: var(--text-color); 
    transition: background-color 0.5s; 
}


/*----- Buttons styles ------ */

#changing_div button,
#see_defs_3,
#signout,
#delete_account,
#signin_div button,
#signup_div button,
#see_defs_3_connected,
#connected_not_participating button,
#container button {
    border: var(--text-color) solid 1px;
    border-radius: 7px;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in, border 0.5s, color 0.5s;
}

#changing_div button:hover,
#see_defs_3:hover,
#signout:hover,
#delete_account:hover,
#signin_div button:hover,
#signup_div button:hover,
#see_defs_3_connected:hover,
#connected_not_participating button:hover,
#container button:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transform: translateY(-3px);
}

/*----- Dropdown ------ */

.hidden {
    display: none;
}

.dropdown {
    display: inline-block;
    padding: 10px;
    position: relative;
}

#menu {
    position: absolute;
    top: 45px;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 5px;
    padding-top: 25px;
    border-radius: 10px;
    border: solid 1px var(--text-color);
    z-index: 150;
}

#menu label {
    display: flex;
    width: max-content;
}

#menu button{
    position: absolute;
    top: -6px;
    right: -5px;
}


button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
}


input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-top: 5px;
}

h2 {
    margin: 7px;
}

p {
    font-size: 20px;
}

#giga_msg {
    position: fixed;
    top: 385px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: opacity 0.3s;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    z-index: 20000;
    background-color: var(--background-color);
}


select {
    background-color: transparent;
    border: transparent;
    color: var(--text-color);
    transition: 0.35s;
    font-size: 17px;
    border-radius: 10px;
    margin: 10px;
}

select:hover {
    transform: scale(1.05);
}

#close_parameter {
    position: absolute;
    top: -5px;
    right: -5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

option {
    font-size: 16px;
}

#parameter {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 111;
    font-size: 22px;
}

#parameter img {
    width: 50px;
}

#parameter_div {
    display: none;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    border: solid 2px var(--text-color);
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    text-align: center;
    transition: opacity 0.3s, border 0.5s;
    z-index: 500;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: black 5px 5px 20px;
}

#parameter_div p {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -5px;
}

@media screen and (width <= 450px) {
    #parameter img{
        width: 38px;      
    }
    #parameter {
        bottom: -5px;
        right: -5px;
    }

    #parameter_div {
        left: 5px;
        right: 5px;
        transform: translate(0%, -50%);
    }

    #parameter_div p {
        font-size: 19px;
    }
}


#parameter_cover {
    position: fixed;
    z-index: 112;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
}

#parameter_div h2 {
    margin-top: 5px;
}


#parameter_div h2:hover {
    transform: scale(1.05);
}

#parameter_div p:hover {
    transform: scale(1.03);
}

#parameter_div input {
    display: inline;
    margin: 5px;
    background-color: transparent;
    border: solid black 1px;
    border-radius: 5px;
}

#parameter_div button {
    font-family: "Times roman";
    margin: 5px;
    margin-left: 9px;
}

#parameter_sound {
    margin-left: 5px;
    display: flex;
}

#for_toggle_sound {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: left;
}

#credit_h2 {
    margin-top: 30px !important;
}

#inline {
    position: fixed;
    top: 5px;
    left: 8px;
    z-index: 400;
    transition: transform 0.5s ease-in-out;
    text-align: left;
}

@media screen and (width <= 1120px) {
    #inline {
        display: flex;
        align-items: first baseline;
    }

    #inline h1{
        font-size: 35px;
        
    }
    #inline h3 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: -15px;
    }
}

#inline:hover {
    transform: scale(1.03);
}

.trumbowyg-editor span,
.trumbowyg-editor li,
.trumbowyg-editor p {
    all: unset;
    display: inline;
}

.trumbowyg-editor h1 {
    font-size: 40px;
}
.trumbowyg-editor h2 {
    font-size: 24px;
}

.trumbowyg-editor ul {
    padding-left: unset;
    list-style-type: initial;
}

.trumbowyg-box .trumbowyg-editor {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.trumbowyg-box {
    border: none;
    background-color: white;
    border-radius: 10px;
}

.trumbowyg-editor * {
    user-select: text;
    -webkit-user-select: text;
    font-size: inherit;
    z-index: 0;
}

.trumbowyg-editor {
    padding-top: 0px;
    padding-left: 5px;
    line-height: 1.5 !important;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.trumbowyg-button-pane::before {
    background: none;
}

.trumbowyg-editor p {
    font-size: inherit !important;
    display: block;
}

.trumbowyg-dropdown-foreColor, .trumbowyg-dropdown-backColor {
    left: 2px !important;
    top: 42px !important;
}

.trumbowyg-button-pane {
    z-index: 0;
}

.spoiler {
    background: #525252 !important;
    color: transparent !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: 0.2s !important;
}

.spoiler.revealed {
    color: black !important;
    background: #cfcfcf !important;
}

.trumbowyg-editor span {
    transform: none !important;
    transition: none !important;
    position: static !important;
}

/* ----- RENDERER ------ */
#renderer {
    position: fixed;
    bottom: 2px;
    left: 2px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.achievement {
    display: grid;
    grid-template-columns: 1fr 7fr;
    border: solid 2px var(--text-color);
    border-radius: 10px;
    max-height: 100px;
    padding: 10px;
    gap: 10px;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

#renderer .achievement {
    margin-top: 10px;
    background-color: var(--background-color);
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in, opacity ease-in 0.4s;
}

.achievement:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transform: translateY(-3px);
}

.achievement_img {
    border: solid var(--text-color) 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.title_and_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 25px;
    }
    .description {
        font-size: 20px;
    }
    .achievement_img {
        width: 50px;
        height: 50px;
        font-size: 32px;
    }
    #total_achievements_div {
        grid-template-columns: 1fr;
    }
}