/* body - ultracontainer*/


#create, #add, #ask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.beetween {
    width: 2px;
    height: 150px;
    background-color: black;

}

p, h3, h2, h1, input, ul, li, select, span {
    transition: color 0.5s;
}

body, #ultra_container {
    transition: background-color 0.5s;
}

input, button {
    display: block;
    margin: 5px;
}

.file {
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    width: fit-content;
    margin: 5px;
    position: relative;
}


.file span {
    font-weight: bold;
    font-size: 22px;
    display: block; 
    margin-bottom: 10px;
    margin-right: 20px;
}
  
.file ul {
    list-style-type: none; 
    padding-left: 30px;
    margin: 0;
}
  
.file li {
    margin-bottom: 5px;    
    font-size: 19px;    
    display: flex;
    align-items: center;
}


.delete_button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: transparent;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.delete_def {
    display: inline;
    font-weight: bold;
}


.hide {
    display: none;
}

.shown {
    display: block;
}



body {
    background-color: rgb(200, 255, 229);
    text-align: center;
}



button {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
}


input {
    border: none;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    width: 200px;
}

p {
    font-size: 20px;
}


#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    background-color: transparent;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 91;
}   


h2 {
    font-size: 30px;
    margin-top: 40px;
}

#lessons {
    z-index: 90;
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
}


#contain_files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
}

#msg {
    transition: opacity 0.3s;
    font-size: 35px;
}

#ask_div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(200, 255, 229);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 1s;
}

#ask_div button {
    z-index: 11;
    font-size: 35px;
}

#ask_div p {
    font-size: 32px;
}

#ask_div input {
    z-index: 11;
    font-size: 32px;
}





#giga_msg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    transition: opacity 0.3s;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
}


select {
    background-color: transparent;
    border: transparent;
    transition: 0.35s;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

select:hover {
    transform: scale(1.05);
}


option {
    font-size: 16px;
}


.phover {
    background-color: transparent;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    transition: 0.3s;
}

.phover:hover {
    transform: scale(1.05);
}


#import_export {
    position: fixed;
    bottom: 5px;
    left: 5px;
    text-align: left;
}

#def {
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    padding: 3px;
    font-family: -apple-system;
}

#file {
    background-color: transparent;
    border: transparent;
    
}

.titles {
    text-decoration: underline;
}

#inline {
    display: inline;
    text-align: left;
}

.title_bigger {
    font-size: 23px;
    font-weight: bold;
}

#parameter {
    position: fixed;
    bottom: 0;
    right: 0;
}

#parameter_div {
    display: none;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(200, 255, 229);
    text-align: center;
    transition: opacity 0.3s, background-color 0.5s;
    z-index: 113;
}

#parameter_div h2 {
    margin-top: 0px;
}


#parameter_div p {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: -5px;
}

#parameter_div input {
    display: inline;
    margin: 5px;
    background-color: transparent;
    border: solid black 1px;
    border-radius: 5px;
}

#parameter_div button {
    font-family: "Times roman";
    margin: 5px;
}

#inline {
    position: fixed;
    top: 5px;
    left: 8px;
    z-index: 95;
}

#ultra_container {
    background-color: rgb(200, 255, 229);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 500px;
    z-index: 60;
    display: block;
}


#file {
    display: none;
}

label {
    font-size: 21px;
    margin: 10px;
    font-family: -apple-system-;
    transition: color 0.5s;
}